<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - The Unix Shell</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">Introducing the Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:05</td>        <!-- time    -->
        <td>Navigating files and directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>3:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>3:50</td>        <!-- time    -->
        <td>Working with files and directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>4:35</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>4:40</td>        <!-- time    -->
        <td>Pipes and Filters; Finding Things</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>5:30</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Plotting and Programming with Python</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>3:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Running and Quitting; Variables and Assignment</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:35</td>        <!-- time    -->
        <td>Data Types and Type Conversion</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:55</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>4:00</td>        <!-- time    -->
        <td>Built-in Functions and Help; Libraries</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>4:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>4:50</td>        <!-- time    -->
        <td>Reading Tabular Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>5:10</td>        <!-- time    -->
        <td>Pandas DataFrames</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>5:30</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Python, cont.</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>3:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Pandas DataFrames; Plotting</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:40</td>        <!-- time    -->
        <td>Lists</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>4:05</td>        <!-- time    -->
        <td>For Loops; Conditionals</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>4:55</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>5:00</td>        <!-- time    -->
        <td>Looping Over Data Sets</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>5:30</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 - Python, cont.</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>3:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Looping over Data Sets</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:15</td>        <!-- time    -->
        <td>Writing Functions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>3:50</td>        <!-- time    -->
        <td>Variable Scope; Programming Style</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>4:50</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>5:00</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>5:30</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5 - Git </h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>3:00</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-git/">What is Git/GitHub?</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:10</td>        <!-- time    -->
        <td>Getting started with Git</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:35</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>3:40</td>        <!-- time    -->
        <td>Sharing your work</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>4:10</td>        <!-- time    -->
        <td>Review</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>4:35</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>4:40</td>        <!-- time    -->
        <td>GitHub Pages</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
